.character-card {
  height: fit-content;
  width: 300px;
  border: solid 1px grey;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0px;
  background-color: #f7f6f1;

  &__image {
    border-radius: 10px;
    height: 200px;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}
